.songInput {
    margin-bottom: 1em;
}

#importContainer {
    margin-bottom: 2em;
}

#importContainer label {
    display: block;
    margin-bottom: 0.5em;
}

#importContainer input[type="url"] {
    display: inline-block;
    margin-right: 10px;
}

#importContainer button {
    display: inline-block;
    vertical-align: top;
}
#buttonSubmit {
    background-color: #1abc9ceb; 
}
#buttonSubmit:hover {
    background-color: #1abc9c;
}

#removeSong {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 0;
}
#removeSong:hover {
    background-color: darkred;
}
#playlistHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.importHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0;
    margin-bottom: 10px;
}
.importHeader h3 {
    margin: 0;
}
#importPlaylistButton {
    margin-left: 0;
}
#addButton {
    margin-left: 0;
}
#spotifyIcon{
    margin-left: 10px;
}
#youtubeLogo {
    margin-right: 2px;
}