.songInput {
    margin-bottom: 1em;
}

#importContainer {
    margin-bottom: 2em;
}

#importContainer label {
    display: block;
    margin-bottom: 0.5em;
}

#importContainer input[type="url"] {
    display: inline-block;
    margin-right: 10px;
}

#importContainer button {
    display: inline-block;
    vertical-align: top;
}
button[type="submit"] {
    background-color: #1abc9ceb; 
}
.removeSong {
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}
button {
    margin-left: 0;
}
#playlistHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
