button {
    margin-left: 0;
}

#playlistHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#playlistHeaderButtons {
    margin: 0;
}
#removeSong {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 0;
}
#removeSong:hover {
    background-color: darkred;
}
#addButton {
    margin-left: 0;
}