body {
    background-color: #121212;
    color: #E0E0E0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
header, footer {
    background-color: #1f1f1f;
    padding: 1em;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1, footer p {
    margin: 0;
}
header > h1 {
    display: inline;
}

main {
    padding: 2em;
}

form {
    background-color: #1f1f1f;
    padding: 2em;
    border-radius: 8px;
}

form div {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"], input[type="url"], textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    font-size: 1em;
    box-sizing: border-box;
}

button[type="submit"], button[type="button"] {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
}

button:active {
    background-color: #3700b3;
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
    margin-top: 0;
}
h2 {
    margin: 0;
}
textarea {
    resize: none;
  }
