body {
    background-color: #121212;
    color: #E0E0E0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.playlist_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    overflow: hidden;
    background-color: rgba(187, 134, 252, 0.5);
    border: 1px solid #BB86FC;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.playlist_container:hover {
    background-color: rgba(187, 134, 252, 0.7);
}
.playlist_title {
    width: 100%;
}
.playlist_title h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
}
.playlist_description {
    width: 100%;
}
.playlist_description h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}